/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Font */
@font-face {
    font-family: 'circular-std-black';
    src: url('./font/CircularStd-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'circular-std-black-italic';
    src: url('./font/CircularStd-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'circular-std-bold';
    src: url('./font/CircularStd-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'circular-std-bold-italic';
    src: url('./font/CircularStd-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'circular-std-medium';
    src: url('./font/CircularStd-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'circular-std-medium-italic';
    src: url('./font/CircularStd-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'circular-std-book';
    src: url('./font/CircularStd-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'circular-std-book-italic';
    src: url('./font/CircularStd-BookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: circular-std-medium, Arial, sans-serif;
}

html {
    /* 10 pixels */
    font-size: 62.5%;
}

h1 {
    font-size: 2rem;
    margin-top: 3rem;
}

h2 {
    font-size: 1.5rem;
}

.navbar-brand {
    font-size: 2rem;
    margin-left: 3rem;
}

.nav-link {
    font-size: 1.5rem;
}

.navbar-nav {
    margin-right: 3rem;
}

.navbar-collapse {
    margin-left: 3rem;
}

.hi {
    margin-left: 1rem;
}

.container {
    /* border: #02ce5e solid; */
    margin-left: auto;
    margin-right: auto;
}

.intro-description {
    font-size: 1.8rem;
    /* margin-left: 1rem; */
    text-align: center;
}

.wave {
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
  }
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: rotate( 0.0deg) }
  }

.hi {
    color: #02ce5e;
    padding-bottom: 1rem;
    text-align: center;
}

.footer-wrap {
    /* padding-bottom: 2.5rem; */
    text-align: center;
}

.profile-image {
    border-radius: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.social-links {
    text-align: center;
    margin-left: 0.5rem;
}

.social-link {
    margin-right: 0.5rem;
}

.copyright {
    font-size: 1.2rem;
    margin-top: 0.5rem;
}

#download-cv-button {
    text-decoration: none;
    background-color: white; 
    color: #02ce5e;  
    border: 2px solid #02ce5e;
    padding: 1rem;
    border-radius: 2.2rem;
    font-size: 150%;  
    display: block;
    width: 18rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
}

#download-cv-button:hover {
    background-color: #02ce5e; 
    color: white;
    border: 2px solid #02ce5e;
}


#card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    /* margin: 1rem 0rem; */
    border-radius: 2.2rem;
    padding: 0.9rem 0rem 2rem 5rem;
    margin-bottom: 2.5rem;
    width: 55%;
}

#card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.project-description {
    font-size: 1.3rem;
}

.projects-heading {
    margin: 3rem 0rem;
}
